@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.bookSearchResultsCard:hover {
  background: #EDEDEC;
}